API_URL=
API_ID=
ECS_CLUSTER=exodus
VPC_ID=vpc-xxxxxxxxxxxxxxxxx
SUBNETS=subnet-xxx,subnet-xxx
SECURITY_GROUP=sg-xxxxxxxxxxxxxxxxx
ALB_SG_ID=sg-xxxxxxxxxxxxxxxxx
ALB_ARN=arn:aws:elasticloadbalancing:us-west-2:yyyyyyyyyyyy:loadbalancer/app/exodus-alb/xxxxxxxxxxxxxxxxx
ALB_DNS=exodus-alb-xxxxxxxxxxxxxxxxx.us-west-2.elb.amazonaws.com
LISTENER_ARN=arn:aws:elasticloadbalancing:us-west-2:yyyyyyyyyyyy:listener/app/exodus-alb/xxxxxxxxxxxxxxxxx/xxxxxxxxxxxxxxxxx
EXECUTION_ROLE_ARN=arn:aws:iam::yyyyyyyyyyyy:role/exodus-task-execution
LAMBDA_ROLE_ARN=arn:aws:iam::yyyyyyyyyyyy:role/exodus-lambda
ACCOUNT_ID=yyyyyyyyyyyy
REGION=us-west-2
DOMAIN=stack.lol
